<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialGift2"
        tools:targetApi="31">
        <activity
            android:name=".activities.AddProductToWishlistActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShowReservedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditMyUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewWishlistActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditWishlistActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShowGiftActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShowWishlistActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShowMyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShowUserActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>